// 成功
$success: #3fad7e ;
// 信息
$primary: #0086ce;
// 提醒
$warning: #f18d00;
// 警告
$danger: red;
// 网站主题色
$theme: #6f0203;
// 卡片背景
$bg: #eee;
// 灰色主题
$themee5: #5e5e5e;

$themefen: #ff0036;

$themec9: #c9c9c9;
$themeeee: #eee;

$themetransparent: transparent;
// 提示的文本
$tip-text: #5e5e5e;
// 灰色边框
$borderc9:#c9c9c9;
// 蓝色背景
$bg_blue: #0086ce !important;
// 绿色背景
$bg_army_green: #3fad7e;
$bg_cobalt_blue: #5573b6;
$bg_orange: #f18d00;

// 字体
$font18: 18px;
$font48: 48px;
$font16: 16px;
$font17: 17px;
$font14: 14px;
$font15: 15px;

// 盒模型
$border-box: border-box;
$relative: relative;
$absolute: absolute;

$bg_blue: #0086ce !important;
$bg_army_green: #3fad7e;
$bg_cobalt_blue: #5573b6;
$bg_orange: #f18d00;

$primary-text-color: #000000;
$secondary-text-color: #5e5e5e;
$tip-text-color: #a8a8a8;
$hide-text-color: #c9c9c9;
$default-text-color: #eee;
$accent-color: red;
$hide-background-color: #eeeeee;


























